<configuration>
	<!-- 设定控制台日志输出及其格式 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 设定最低日志级别为INFO，并应用到控制台输出 -->
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>